<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- 
<ion-content padding>
  <ion-slides pager="true" [options]="{ effect: 'flip' }">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <ion-item>
        <ion-label>Enter phone number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button color="primary">      <ion-ripple-effect></ion-ripple-effect>
        Primary</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content> -->

<form (ngSubmit)="logForm()">
  <ion-item>
    <ion-label>Enter your GID</ion-label>
    <ion-input type="text" [(ngModel)]="gid" name="title"></ion-input>
  </ion-item>
    <ion-button color="primary" type="submit">
      Submit
    </ion-button>
</form>
